In [2]:
import numpy as np
import pandas as pd

In [89]:
# Read the directory.csv file into a data frame
starbucks = pd.read_csv('directory.csv')
starbucks.sample(10)

,Brand,Store Number,Store Name,Ownership Type,Street Address,City,State/Province,Country,Postcode,Phone Number,Timezone,Longitude,Latitude
5946,Starbucks,18414-190747,Pevensey - Bexhill Road,Franchise,"Bexhill Road, Pevensey Services",Pevensey,ENG,GB,BN24 5JW,NaN,GMT+0:00 Europe/London,0.34,50.82
4621,Starbucks,31327-169944,西安高新金花店,Company Owned,科技路三十三号,西安市,61,CN,710075,029-62961063,GMT+08:00 Asia/Beijing,108.90,34.23
10593,Starbucks,3626-134985,Metropolis Office Plaza,Joint Venture,"Leningradskoe Shossee 16, Building 1",Moscow,MOW,RU,125171,7(495)9814804,GMT+3:00 Europe/Moscow,37.50,55.82
19438,Starbucks,20688-204064,Cedar & Hwy 13-TC Premium Outlets,Company Owned,"3965 Eagan Outlets Parkway, 455",Eagan,MN,US,55122,6514545153,GMT-06:00 America/Chicago,-93.21,44.81
11643,Starbucks,21719-214686,Zhongzheng Heping,Joint Venture,"No.162, Zhongzheng 2nd Rd., Xinxing Dist",Kaohsiung City,KHH,TW,80047,NaN,GMT+08:00 Asia/Taipei,120.31,22.61
8088,Starbucks,16159-169024,Cha Hospital Intersection,Joint Venture,"235-11, Nonhyeon-Dong, Gangnam-Gu, 1-2F",Seoul,11,KR,135-010,NaN,GMT+09:00 Asia/Seoul,127.04,37.51
21886,Starbucks,70354-139507,Target Broken Arrow T-2422,Licensed,"1150 E Hillside Dr, Spring Creek Village",Broken Arrow,OK,US,740122386,(918) 615-1900,GMT-06:00 America/Chicago,-95.79,36.07
3214,Starbucks,26601-244607,徐州和信广场,Joint Venture,"鼓楼区复兴北路27号, 邳州市东湖街道",徐州市,32,CN,221000,NaN,GMT+08:00 Asia/Beijing,117.20,34.27
13181,Starbucks,11954-105938,"Rosecrans & Sepulveda, El Segundo",Company Owned,2005 Park Place,El Segundo,CA,US,902454754,310-615-1149,GMT-08:00 America/Los_Angeles,-118.39,33.91
20214,Teavana,28619-249923,Teavana - Westroads,Company Owned,"10000 California St., #2420",Omaha,NE,US,68114,402-397-0357,GMT-06:00 America/Chicago,-96.07,41.27

In [99]:
#Read the country code file into the dateframe.
country_code = pd.read_csv('country_code.csv')

In [100]:
#Merge the starbucks data frame and the country code
starbucks2= pd.merge(starbucks,country_code, left_on='Country', right_on='Two_Letter_Country_Code').drop('Two_Letter_Country_Code', axis=1)
starbucks2.sample(5)

,Brand,Store Number,Store Name,Ownership Type,Street Address,City,State/Province,Country,Postcode,Phone Number,Timezone,Longitude,Latitude,Continent_Name,Country_Name
15857,Starbucks,5213-293,Santa Monica & Bundy,Company Owned,"12100 Santa Monica Blvd., Soutport Town Center",West Los Angeles,CA,US,900252516,(310) 571-9262,GMT-08:00 America/Los_Angeles,-118.46,34.04,North America,United States of America
10529,Starbucks,29421-253685,Plaza Dorada,Licensed,Road #693 Barrio Higuillar KM 8.5,Dorado,PR,PR,646,NaN,GMT-04:00 America/Puerto_Rico,-66.28,18.46,North America,"Puerto Rico, Commonwealth of"
16351,Starbucks,79273-93497,City Market - Steamboat Sprngs #414,Licensed,1825 Central Park Plaza,Steamboat Springs,CO,US,80477,661-663-0595,GMT-07:00 America/Denver,-106.82,40.46,North America,United States of America
20958,Starbucks,76954-129485,Target Turnersville T-1132,Licensed,4001 Black Horse Pike,Turnersville,NJ,US,8012,(856) 875-0082,GMT-05:00 America/New_York,-75.04,39.73,North America,United States of America
15740,Starbucks,22824-210105,Vacaville Premium - East Plaza,Company Owned,"390 Nut Tree Road, KI 01",Vacaville,CA,US,95687,707-449-6474,GMT-08:00 America/Los_Angeles,-121.95,38.37,North America,United States of America

In [101]:
#Modify the name of some countries, removing 'the, republic of'
country_name = starbucks2['Country_Name'].tolist()
country_name = [country.split(',')[0] for country in country_name]

#Assign the modified values in the country_name column
starbucks2['Country_Name'] = country_name

#Change united states of america to united states
starbucks2['Country_Name']= starbucks2['Country_Name'].apply(lambda x : 'United States' if x=='United States of America' else x)

In [102]:
#Dataframe for the world population
world_population = pd.read_csv('world_population.csv')

In [103]:
#Create a new column for store count
starbucks2['store_count'] = np.ones(starbucks2.shape[0]).astype(int).tolist()
starbucks2.sample(10)

,Brand,Store Number,Store Name,Ownership Type,Street Address,City,State/Province,Country,Postcode,Phone Number,Timezone,Longitude,Latitude,Continent_Name,Country_Name,store_count
24958,Starbucks,75462-106438,VCU - Monroe Park,Licensed,"375 West Cary Street, Southern Hills","Richmond,",VA,US,232205639,804-827-2003,GMT-05:00 America/New_York,-77.45,37.54,North America,United States,1
9999,Starbucks,19477-199486,Schiphol Airport Pier B and C,Licensed,"Amsterdam-Schiphol Airport, AMS-Pier B&C, Post...",Schipol,NH,NL,1117 ZN,NaN,GMT+1:00 Europe/Amsterdam,4.75,52.31,Europe,Netherlands,1
18951,Starbucks,13760-107636,Veterans & Massachusetts,Company Owned,"2705 Veterans Memorial Blvd, Suite A",Kenner,LA,US,700624726,504-466-1534,GMT-06:00 America/Chicago,-90.23,30.01,North America,United States,1
5911,Starbucks,9179-152313,Newcastle-Eldon Sq St Andrews Mall,Company Owned,"St Andrews Way, Mall Kiosk",Newcastle on Tyne,ENG,GB,NE1 7XD,1912329288,GMT+0:00 Europe/London,-1.62,54.97,Europe,United Kingdom,1
23070,Starbucks,75869-102437,PA N.Somerset Travel Plaza,Licensed,"exit 110 Westbound, milepost 112.3; 179",Somerset,PA,US,15501,814-443-3889,GMT-05:00 America/New_York,-79.12,40.03,North America,United States,1
14999,Starbucks,14608-126527,Industrial & Howard,Company Owned,"1135 Industrial Rd., A",San Carlos,CA,US,940704162,650-596-2741,GMT-08:00 America/Los_Angeles,-122.25,37.50,North America,United States,1
23331,Starbucks,11069-103668,Brainerd & Belaire,Company Owned,"5610 Brainerd Rd, Hamilton Place",Chattanooga,TN,US,374115310,423-499-9042,GMT-05:00 America/New_York,-85.21,35.01,North America,United States,1
15772,Starbucks,6630-71280,Burbank & Van Nuys,Company Owned,14431 Burbank Blvd,Van Nuys,CA,US,914014825,818-779-0347,GMT-08:00 America/Los_Angeles,-118.45,34.17,North America,United States,1
11418,Starbucks,18750-195031,Starbucks,Licensed,"3. Cad. No: 11 D: 5, Bahcelievler",Ankara,6,TR,6900,312 2233320,GMT+2:00 Asia/Istanbul,32.89,39.93,Europe,Turkey,1
6596,Starbucks,18702-254728,Blackrock-,Licensed,"Main Street, Blackrock, Co.Dublin",Dublin,L,IE,NaN,01 278 4416,GMT+0:00 Europe/Dublin,-6.18,53.30,Europe,Ireland,1

In [151]:
#Create a data frame for store count and country name
starbucks3 = starbucks2.groupby('Country_Name').agg({'store_count':'sum'})

                            store_count
Country_Name
United States                     13608
China                              2734
Canada                             1468
Japan                              1237
Korea                               993
...                                 ...
Slovakia (Slovak Republic)            3
Curaçao                               3
Luxembourg                            2
Monaco                                2
Andorra                               1

[73 rows x 1 columns]

In [137]:
#Merge world population data with starbucks data 
starbucks4 = pd.merge(starbucks3, world_population, left_on='Country_Name', right_on='country')


#Remove the comma in the population 78,100 -->78100
starbucks4['population'] = starbucks4['population'].str.replace(',', '').astype(int)

#Create a new column  store/ 10k capita
starbucks4['pop_per_store']= starbucks4['population'] /(starbucks4['store_count']*10000)
starbucks4.sort_values('pop_per_store', ascending =False)

,store_count,country,density,land_area,migrants_net,net_change,population,yearly_change,pop_per_store
56,3,South Africa,49,"1,213,090","145,405","750,420",59308690,1.28 %,1976.956333
29,88,India,464,"2,973,190","-532,687","13,586,631",1380004385,0.99 %,1568.186801
16,11,Colombia,46,"1,109,500","204,796","543,448",50882891,1.08 %,462.571736
12,4,Cambodia,95,"176,520","-30,000","232,423",16718965,1.41 %,417.974125
41,9,Morocco,83,"446,300","-51,419","438,791",36910560,1.20 %,410.117333
...,...,...,...,...,...,...,...,...,...
6,10,Bahamas,39,"10,010","1,000","3,762",393244,0.97 %,3.932440
2,3,Aruba,593,180,201,452,106766,0.43 %,3.558867
13,1468,Canada,4,"9,093,510","242,032","331,107",37742154,0.89 %,2.570991
66,13608,United States,36,"9,147,420","954,806","1,937,734",331002651,0.59 %,2.432412
40,2,Monaco,"26,337",1,,278,39242,0.71 %,1.962100

In [43]:
#Merge world population data with starbucks data 
starbucks3 = pd.merge(starbucks2, world_population, left_on='Country_Name', right_on='country').drop('country', axis=1)
starbucks3.sample(5)

,Brand,Store Number,Store Name,Ownership Type,Street Address,City,State/Province,Country,Postcode,Phone Number,...,Longitude,Latitude,Continent_Name,Country_Name,density,land_area,migrants_net,net_change,population,yearly_change
20921,Starbucks,17193-176966,PA South Somerset Travel Plaza,Licensed,Pennsylvania Tpke - Exit 110 E,Somerset,PA,US,15501,814-444-9765,...,-79.20,40.10,North America,United States,36,"9,147,420","954,806","1,937,734","331,002,651",0.59 %
13887,Starbucks,6352-20899,Woodmen & Rangewood,Company Owned,"3560 East Woodmen Rd, #100",Colorado Springs,CO,US,809202106,719-593-5967,...,-104.76,38.94,North America,United States,36,"9,147,420","954,806","1,937,734","331,002,651",0.59 %
23245,Starbucks,47664-259184,Albertsons - Milton #3113,Licensed,2800 MILTON WAY,MILTON,WA,US,983549344,2539522029,...,-122.30,47.25,North America,United States,36,"9,147,420","954,806","1,937,734","331,002,651",0.59 %
15682,Starbucks,26994-246004,Hy-Vee - Spencer #1,Licensed,819 Grand Ave,Spencer,IA,US,51301,712-262-2443,...,-95.15,43.15,North America,United States,36,"9,147,420","954,806","1,937,734","331,002,651",0.59 %
20960,Starbucks,21572-211365,Target Homestead T-1253,Licensed,360 E Waterfront Dr,West Homestead,PA,US,15120,412-464-2522,...,-79.92,40.41,North America,United States,36,"9,147,420","954,806","1,937,734","331,002,651",0.59 %

In [ ]:
starbucks

In [ ]:
starbucks_store.set_index('Continent_Name', inplace=True)
starbucks_store

In [ ]:
starbucks_store.loc['Asia']

In [ ]:
starbucks_europe=starbucks_store.loc['Europe']
starbucks_europe['Country_Name'].value_counts()

In [ ]:
starbucks_store['Continent_Name'].unique()